---
- hosts: localhost
  connection: local
  vars:
    tvlk_mongod_initialization: true
    keyfile: "{{ lookup('file','/tmp/keyfile')}}"
    datadog_api_key_parameter_store: "{{ lookup('aws_ssm','/tvlk-secret/shared/<changethiswithyourpd>/datadog.api.key',region='ap-southeast-1',decrypt=True)}}"
  pre_tasks:
    - block:
        - name: set instance hostname
          hostname:
            name: "{{ hostname }}"
      become: yes
      become_method: sudo
      when: keyfile and temporary_master_password != ""
  roles:
    - role: xfsvolume
      xfs_volume_device: "{{volume_device | default('/dev/xvdf')}}"
      xfs_volume_mount: /var/lib/mongodb
    - role: mongod-3.6
      mongodb_authorization_enabled: false
      when: tvlk_mongod_initialization == true
    - role: datadog-agent
      datadog_api_key: "{{ datadog_api_key_parameter_store }}"
    - role: awslogs-config
      awslogs_app_name: "{{service_name}}-mongod"
      awslogs_app_log_settings:
        - file: "/var/log/mongodb/mongod.log"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
          group_name: "/tvlk/mongod/{{ service_name }}/mongod.log"
          time_zone: "UTC"
    - role: mongo-root-user
      login_password: "{{ temporary_master_password }}"
    - role: mongod-3.6
      mongodb_repl_set_name: "{{ replica_set_name }}"
      mongodb_keyfile_content: "{{ keyfile }}"
      when: tvlk_mongod_initialization == true
